.tr-header {
  th {
    display: table-cell;
    vertical-align: inherit;
    text-align: left;
  }
}

.input-group {
  vertical-align: middle;
  margin-left: 10px;
  margin-bottom: 20px;
  width: 25%;
  input {
    width: 100%;
    height: 25px;
  }
}

.submit-btn {
  margin-left: 10px;
  width: 100px;
  height: 30px;
  font-size:14px;
  font-weight: bold;
}

.root-table {
  margin-left: 10px;
}

.p-element {
  width: 50%;
  margin: 10px;
}
.header-filter {
  text-align: left;
  margin-bottom: 10px;
  input {
    width: 200px;
    height: 25px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
}

.th-header {
  max-width: 40px;
}


